body {
    color: black;
}

#container {
    position: relative;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 640px;
    height: 480px;
}

#webcam,
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    z-index: 1;
}